@model IEnumerable<ns.drlavatudo.Models.precos_produto>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.listas_preco.descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.produtos.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.situacao)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.listas_preco.descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.produtos.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.situacao)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.codigo }) |
                @Html.ActionLink("Details", "Details", new { id=item.codigo }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.codigo })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
