@model ns.drlavatudo.Models.pedidos

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>pedidos</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.clientes.nome)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.clientes.nome)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.colaboradores.nome)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.colaboradores.nome)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.listas_preco.descricao)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.listas_preco.descricao)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.registrado_em)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.registrado_em)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.valido_ate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.valido_ate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.comissao)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.comissao)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.situacao)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.situacao)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.codigo }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
